.main-container {
    width: 1000px;
    height: 800px;
    background: #39b784;
    margin: auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 10px;
    flex-direction: column;
}

.small-box-decor {
    width: 250px;
    height: 400px;
    background: black;
    padding: 20px;
    text-align: center;
}

.fa-quote-right {
    color: #39b784;
}

.text {
    color: white;
    text-align: center;
}

.image {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    border-radius: 50%;
}

.heading {
    color: #39b784;
    text-align: center;
    font-style: normal;
}

.bottom-text {
    color: black;
    text-align: center;
    font-size: xxx-large;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.under-bottom-text {
    margin: 0;
    text-align: center;
}